body {
  background-color: rgb(94, 89, 83);
  margin-right: 70px;
  margin-left: 70px;
  /* background-image: url('IT.jfif'); */
  /* optional */
  background-size: cover;

}

.container {
  display: grid;
  grid-template-areas:
    "pageHeader pageHeader"
    "kalenderblatt text_box";
  grid-template-columns: 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif
}


.pageHeader {
  grid-area: pageHeader;
  font-weight: 540;
  font-size: 30px;
  text-align: center;


  &:hover {
    background-color: #7b8083;
  }

}


#KALENDERBLATT {
  grid-area: kalenderblatt;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  margin: 30px 0;



}


#kalenderHeader {
  height: 100px;
  font-size: 35px;
  color: black;

}


table,
th,
td {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 25px 0;

}

th {
  background-color: #7b8083;
  font-weight: bold;

}


td {

  padding: 20px 40px;
  cursor: pointer;
  background-color: rgb(134, 134, 132);


}

.ausgrauen {
  color: rgb(77, 76, 76);
  opacity: 0.6;
}


td:hover {
  background-color: #7b8083;
}




#samstag,
SA {
  color: darkblue;

}


#sonntag,
SO {
  color: darkred;
}



td:nth-child(6) {

  color: darkblue;
}


td:nth-child(7) {
  color: darkred;
}


.AndreSBirthday {
  border: 2px solid rgb(103, 72, 4);

  
}

.today {
  background-color: rgb(90, 134, 93); 
}


#text_box {
  grid-area: text_box;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: left;
}

h4 {
  margin-top: 10rem;

}